numpy==1.14.1
pandas==0.20.3
pyOpenSSL==18.0.0
pyTelegramBotAPI==3.6.6
telegram==0.0.1
python-telegram-bot 11.1.0
numpy==1.14.1
pandas==0.20.3
pyOpenSSL==18.0.0
pyTelegramBotAPI==3.6.6
telegram==0.0.1
python-telegram-bot==11.1.0
